:root {
    --blanco: #ffffff;
    --negro: #000000;
    --DodgerBlue: #0d8fff;
    --CyanProcess: #0cbce8;
    --TurquoiseBlue: #00FFEF;
    --SpringGreen: #01700a;
    --Gris: #e6e0e0;
}
/* General */
html{
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #bbf8f4;
    padding: 0;
    margin: 0;
    position: relative;
    height: 100vh;
    width: 100%;
}

h1, h2, h3{
    text-align: center;
}

.sombra {
    box-shadow: 0px 1px 50px 1px rgba(0,0,0,0.75);
    background-color: var(--blanco);
    padding: 50px;
    border-radius: 10px;
}

.TT {
    font-size: 35px;
    text-decoration: underline;
}



/* Boton */
.boton {
    background-color: var(--SpringGreen);
    color: var(--negro);
    padding: 10px 30px;
    margin-top: 50px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    width: 90%;
    text-align: center;
}
@media (min-width: 768px) { 
    .boton {
        width: auto;
    }
}

.boton:hover {
    cursor: pointer;
}

/* navegacion */
.contenedor{
    max-width: 1000px;
    margin: 0 auto;
}

.nav-bg{
    background-color: var(--SpringGreen);
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 999;
}

.navegacion-principal{
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) { 
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.navegacion-principal a{
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 20px;
    font-weight: 600px;
    padding: 10px;
}

.navegacion-principal a:hover {
    background-color: var(--Gris);
    color: var(--negro);
    padding: 10px;
}

/* Hero */
.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relastive;
    margin-bottom: 30px;
    top: 43px;
    margin-top: 10px;
}
.contenido-hero {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido-hero p {
     color: var(--negro);
}

.img-hero {
    height: 100px;
    width: 100px;
}

/* Servicios */
@media (min-width: 768px) { 
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 50px;
    }
}

.servicio{
   display: flex;
   flex-direction: column;
   align-items: center;
   background-image: linear-gradient(to bottom, #38ba08 0%, #00d4ff 100%);
   border-radius: 15px;
   box-shadow: 25px 35px 23px -4px rgba(0,0,0,0.75);
   margin-bottom: 20px;
   padding: 10px;
   font-size: large;
}

.servicio h3{
    color: var(--negro);
}

.servicio p{
    line-height: 2;
    text-align: center;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-family: 'Nunito', sans-serif;
}

.servicio .iconos{
    height: 180px;
    width: 180px;
    background-color: #e8f8f7;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    border: solid;
}

.servicio .iconos img {
    height: 120px;
    width: 120px;
}

/* Contacto 

.form {
    padding: 40px;
}

.formulario {
    background-color: #adadad;
    width: min( 600px, 100% ); /* utiliza el valor mas pequeño 
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    border: solid;
}

.formulario fieldset {
   border: none;
}

.formulario legend {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
}
*/
/* Campos 

@media (min-width: 768px) { 
    .contenedor-campos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 200px;
        column-gap: 10px;
    }    
}

.campo:nth-child(3),
.campo:nth-child(4) {
    grid-column: 1 / 3;
}

.campo {
   margin-bottom: 10px;
}

.campo textarea {
    height: 200px;
}

.campo label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.input-text {
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 5px;
}

.enviar .boton {
    width: 100%;
}
*/
/* footer */
footer {
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 20px 8%;
    margin: 80px 0;
    background-image: linear-gradient(to bottom, #ffffff 0%, #b5b0b0 50%, #000000 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icons-container, .footer-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.social-icon {
    height: 70px;
    width: 70px;
    border-radius: 50px;
    border: 1px solid white;
    background-image: url(../img/facebook.png);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 10px;
}

.social-icon:hover {
    background-color: #01c700;
    filter: invert(1);
}

.social-icon:nth-of-type(2) {
    background-image: url(../img/instagram.png);
}
.social-icon:nth-of-type(3) {
    background-image: url(../img/gorjeo.png);
}
.social-icon:nth-of-type(4) {
    background-image: url(../img/whatsapp.png);
}

.footer-menu-container {
    list-style-type: none;
    color: white;
    font-size: 18px;
}

.menu-item {
    margin: 10px 15px;
    cursor: default;
    opacity: 0.6;
}

.menu-item:hover {
    opacity: 1;
}

.copyright {
    color: white;
    opacity: 0.3;
    text-align: center;

}

/* */
.hide {
    display: none;
  }
  
  .myDIV:hover + .hide {
    display: block;
    color: red;
  }

  .swiper-slide-intro {
    height: 100%;
    display: table;
  }

  .letras {
    font-size: 25px;
    text-align: center;
  }
