/* globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

body {
    position: relative;
    height: 100vh;
    width: 100%;
}

.icono{
    width: 180px;
    height: 180px;
    padding: 10px;
}

.secciones {
    background-image: linear-gradient(to bottom, #80f65e 0%, #01c700 100%);
    margin-bottom: 50px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: -28px 28px 33px -10px rgba(0,0,0,0.75);
}

h2 {
    background-color: rgba(255, 248, 229, 0.951);
    margin: 15px 100px;
    border: solid;
}

.parrafos {
    margin: 16px 16px;
    text-align: justify;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    border: solid;
    line-height: 1;
    font-family: 'Inter', sans-serif;
font-family: 'Nunito', sans-serif;
}

/* mision */
.mision {
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* vision */ 
.vision {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}


/* valores */
.valores {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* footer */

footer {
    width: 100%;
    left: 0;
    padding: 20px 8%;
    margin: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icons-container, .footer-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.social-icon {
    height: 70px;
    width: 70px;
    border-radius: 50px;
    border: 1px solid white;
    background-image: url(../img/facebook.png);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 10px;
}

.social-icon:hover {
    background-color: #01c700;
    filter: invert(1);
}

.social-icon:nth-of-type(2) {
    background-image: url(../img/instagram.png);
}
.social-icon:nth-of-type(3) {
    background-image: url(../img/gorjeo.png);
}
.social-icon:nth-of-type(4) {
    background-image: url(../img/whatsapp.png);
}

.footer-menu-container {
    list-style-type: none;
    color: white;
    font-size: 18px;
}

.menu-item {
    margin: 10px 15px;
    cursor: default;
    opacity: 0.6;
}

.menu-item:hover {
    opacity: 1;
}

.copyright {
    color: white;
    opacity: 0.3;
    text-align: center;

}