/* Video */
.sec-video {
    background-color: purple;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 100px;
}


/* imagen */
.img-sistema {
    background-color: crimson;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}